<aside class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
    <a href="/"
       class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom text-black">
        صفحه اصلی
    </a>
    {% if request.user.has_business_card %}
        {% include "partials/business_sidebar.html" %}
    {% elif request.user.has_internal_trader %}
        {% include "partials/internal_trader_siderbar.html" %}
    {% else %}
        {% include "partials/base_role_sidebar.html" %}
    {% endif %}
</aside>
