{% extends "base.html" %}
{% load static %}
{% load date_filters %}
{% load widget_tweaks %}
{% load date_filters %}
{% block title %}
    مدیریت فروشندگان خارجی
{% endblock title %}
{% block page-title %}
    مدیریت فروشندگان خارجی
{% endblock page-title %}
{% block head %}
    <link href="{% static 'selectize-master/css/selectize.css' %}"
          rel="stylesheet">
    <link href="{% static 'bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}"
          rel="stylesheet">
{% endblock head %}
{% block main %}
    <div class="bg-white p-3 shadow mt-3">
        <div class="d-md-flex">
            <div class="mt-3 me-md-3">
                <button class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal">اخذ شناسه فروشنده خارجی جدید</button>
            </div>
            <div class="mt-3 me-md-3">
                <button class="btn btn-primary">جستجوی فروشندگان استعلام شده</button>
            </div>
            <div class="mt-3 me-md-3">
                <button class="btn btn-success" disabled>i</button>
            </div>
        </div>
        <div class="mt-3 d-md-flex justify-content-center">
            <div class="mt-3 me-md-3">
                <a href="#" class="btn btn-primary">فیلم آموزشی</a>
            </div>
            <div class="mt-3 me-md-3">
                <a href="#" class="btn btn-primary">فایل راهنما</a>
            </div>
        </div>
        <div class="mt-3">
            <div class="text-end"></div>
            <table class="table table-striped table-hover table-bordered text-center">
                <thead class="text-white" style="background:rgb(2, 65, 88);">
                    <tr>
                        <th>دریف</th>
                        <th>شناسه فروشنده خارجی</th>
                        <th>نام فروشنده خارجی</th>
                        <th>نام لاتین فروشنده خارجی</th>
                        <th>کشور محل ثبت/ تولد</th>
                        <th>تاریخ درخواست</th>
                        <th>وضعیت</th>
                        <th>توضیحات</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in person %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ p.identifier }}</td>
                            <td>{{ p.first_name }}</td>
                            <td>{{ p.last_name }}</td>
                            <td>{{ p.country }}</td>
                            <td>{{ p.created_at| to_jalali }}</td>
                            <td>
                                {% if p.status %}تایید شده{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% comment %} form modal {% endcomment %}
    <!-- Modal -->
    <div class="modal fade "
         id="exampleModal"
         tabindex="-1"
         {% comment %}
         style="display:block"
         {% endcomment %}
         aria-labelledby="exampleModalLabel"
         aria-hidden="true"
         role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-6" id="exampleModalLabel">استعلام شناسه فروشنده خارجی</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="select-supplier-type">انتخاب نوع فروشنده خارجی</label>
                        <select class="form-select" id="select-supplier-type">
                            <option selected disabled>انتخاب کنید</option>
                            <option value="p">شخص حقیقی</option>
                            <option value="c">شخص حقوقی</option>
                        </select>
                    </div>
                    <div id="supplier-container"></div>
                    {% comment %} {% include "overseas_supplier/partials/person_form.html" %} {% endcomment %}
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
{% block js %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'selectize-master/js/selectize.min.js' %}"> </script>
    <script src="{% static 'bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script>
    $('#select-supplier-type').change(function(e){
        console.log(e.target.value)
        let url = '';
        if (e.target.value == 'p') {
            url = '{% url 'supplier:create_person' %}';
        }
        else {
            url = '';
            return
        }
        $.ajax({
            url: url,
            type:'get',
            success: function(data) {                
                $('#supplier-container').html(data)                
            }
        })
    })


$(document).on('submit', '#personal-form', function(event) {
    event.preventDefault(); // جلوگیری از رفتار پیش‌فرض فرم

    let form = $(this); // انتخاب فرم
    let url = form.attr('action'); // آدرس اکشن
    let formData = new FormData(this); // جمع‌آوری داده‌های فرم

    $.ajax({
        url: url,
        type: 'POST', // نوع درخواست
        data: formData,
        processData: false, // جلوگیری از پردازش داده‌ها (برای FormData)
        contentType: false, // جلوگیری از تنظیم نوع محتوا به صورت خودکار
        success: function(response) {
            //بارگذاری دوباره صفحه و اضافه شدن یک ردیف‌های فروشنده
            window.location.href = response.success_url; 

        },
        error: function(xhr) {
            // نمایش فرم با پیام‌های خطا
            $('#supplier-container').html(xhr.responseText);
            alert('خطایی در ثبت فروشنده رخ داده است. لطفا پس از اصلاح خطاها دوباره امتحان کنید');
        }
    });
});

    </script>
{% endblock js %}
