{% extends "users/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block main %}
    <div class="bg-white rounded shadow">
        <p class="bg-primary text-white p-2 mb-0 rounded-top ">ثبت نام</p>
        <form method="post">            
                {% csrf_token %}
                <div class="d-grid gap-2 col-6 mx-auto py-5">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2">{{ form.username.label }}</span>
                        {% render_field form.username class="form-control" %}
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2">{{ form.new_password.label }}</span>
                        {% render_field form.new_password class="form-control" %}
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2">{{ form.confirm_password.label }}</span>
                        {% render_field form.confirm_password class="form-control" %}
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2">{{ form.code.label }}</span>
                        {% render_field form.code class="form-control" %}
                    </div>
                    
                <button type="submit" class="btn btn-primary">تایید</button>
                <div class="text-center mt-4">
                    <a href="{% url 'users:send_reset_code' %}" class="btn btn-primary me-2">ارسال دوباره کد تایید</a>
                    <a href="{% url 'users:login' %}" class="btn btn-primary ms-2">بازگشت به صفحه‌ی اصلی</a>
                </div>            
            </div>
        </form>
    </div>
{% endblock main %}
