{% extends "users/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block main %}
    <div class="bg-white rounded shadow">
        <p class="bg-primary text-white p-2 mb-0 rounded-top ">ثبت نام</p>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}<li class="alert {{ message.tags }}">{{ message }}</li>{% endfor %}
            </ul>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="d-grid gap-2 col-6 mx-auto py-5">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2">{{ form.username.label }}</span>
                    {% render_field form.username class="form-control" %}
                </div>
                <button type="submit" class="btn btn-success">بازیابی از طریق ارسال پیامک</button>
                <button type="submit" class="btn btn-primary" disabled>بازیابی از طریق شماره گیری کد دستوری USSD</button>
                <div class="text-center mt-4">
                    <a href="#" class="btn btn-primary me-2 disabled">راهنمای سریع</a>
                    <a href="{% url 'users:login' %}" class="btn btn-primary ms-2">بازگشت به صفحه‌ی اصلی</a>
                </div>
            </form>
        </div>
    {% endblock main %}
