{% load static %}
<!DOCTYPE html>
<html lang="fa" data-bs-theme="auto" dir="rtl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author"
              content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
        <title>
            دموی سامانه جامع تجارت-
            {% block title %}
            {% endblock title %}
        </title>
        {% block head %}
        {% endblock head %}
        <link rel="stylesheet"
              href="{% static 'bootstrap-5.2.3/css/bootstrap.rtl.css' %}">
        <link href="{% static 'css/sidebars.css' %}" rel="stylesheet">
        <link href="{% static 'css/dashboard-style.css' %}" rel="stylesheet">
    </head>
    <body>
        {% include "partials/header.html" %}
        <section class="d-flex flex-nowrap">
            {% include "partials/sidebar.html" %}
            <main class="bg-light flex-fill">
                <div class="container-fluid mt-3">
                    <div class="d-md-flex justify-content-between">
                        <div>برید کرامب</div>
                        <div>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01">نقش جاری</label>
                                <div class="btn-group">
                                    <button type="button"
                                            class="btn btn-light dropdown-toggle border rounded-0 rounded-0 rounded-end"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false">{{ request.user.get_active_role_display }}</button>
                                    <ul class="dropdown-menu">
                                        {% if request.user.base %}
                                            <li>
                                                <a class="dropdown-item"
                                                   href="{% url 'dashboard:base_role_dashboard' %}">پایه حقیقی / حقوقی</a>
                                            </li>
                                        {% endif %}
                                        {% if request.user.has_business_card %}
                                            <li>
                                                <a class="dropdown-item"
                                                   href="{% url 'dashboard:business_role_dashboard' %}">بازرگان حقیقی / حقوقی</a>
                                            </li>
                                        {% endif %}
                                        {% if request.user.has_internal_trader %}
                                            <li>
                                                <a class="dropdown-item" href="#">بازرگان حقیقی / حقوقی</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-md-flex justify-content-between">
                        <div>
                            {% block page-title %}
                            {% endblock page-title %}
                        </div>
                        <div>زمان باقیمانده</div>
                    </div>
                </div>
                <div class="container-fluid">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}<li class="alert {{ message.tags }}">{{ message }}</li>{% endfor %}
                        </ul>
                    {% endif %}
                    {% block main %}
                    {% endblock main %}
                </div>
            </main>
        </section>
        <script src="{% static 'bootstrap-5.2.3/js/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'js/dashboard-main.js' %}"></script>
        {% block js %}
        {% endblock js %}
    </body>
</html>
