{% load widget_tweaks %}
<form class="row needs-validation"
      method="post"
      id="personal-form"
      novalidate>
    {% csrf_token %}
    <div class="col col-md-6">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ person_form.first_name.label }}*</span>
            {% render_field person_form.first_name class="form-control" %}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ person_form.last_name.label }}*</span>
            {% render_field person_form.last_name class="form-control" %}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ person_form.father_name.label }}*</span>
            {% render_field person_form.father_name class="form-control" %}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ person_form.mother_name.label }}</span>
            {% render_field person_form.mother_name class="form-control" %}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ person_form.grandfather_name.label }}</span>
            {% render_field person_form.grandfather_name class="form-control" %}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ person_form.country.label }}*</span>
            {% render_field person_form.country class="form-control p-0" %}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ person_form.city.label }}</span>
            {% render_field person_form.city class="form-control" %}
        </div>
        <div class="d-flex justify-content-start mb-3">
            <p class="me-5">جنسیت*</p>
            {{ person_form.gender }}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ person_form.birthday.label }}*</span>
            {% render_field person_form.birthday class="form-control" %}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ person_form.nationality.label }}*</span>
            {% render_field person_form.nationality class="form-control p-0" %}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ person_form.maried.label }}*</span>
            {% render_field person_form.maried class="form-control" %}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ person_form.document_number.label }}*</span>
            {% render_field person_form.document_number class="form-control" %}
        </div>
    </div>
    <div class="col col-md-6">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ person_form.personal_image.label }}</span>
            {% render_field person_form.personal_image class="form-control" %}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ person_form.document_type.label }}*</span>
            {% render_field person_form.document_type class="form-control p-0" %}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ person_form.document_number.label }}*</span>
            {% render_field person_form.document_number class="form-control" %}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ person_form.issue_date.label }}*</span>
            {% render_field person_form.issue_date class="form-control" %}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ person_form.expire_date.label }}*</span>
            {% render_field person_form.expire_date class="form-control" %}
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <button type="submit" class="btn btn-primary">ثبت اطلاعات</button>
            <button type="reset" class="btn btn-primary">خالی کردن مقادیر</button>
        </div>
        <div>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">بستن</button>
        </div>
    </div>
</form>
