{% load widget_tweaks %}
<form class="row"
      method="post"
      id="personal-form"
      action="{% url 'supplier:create_person' %}"
      novalidate>
    {% csrf_token %}
    <div class="col col-md-6">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ form.first_name.label }}*</span>
            {% render_field form.first_name class="form-control" %}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ form.last_name.label }}*</span>
            {% render_field form.last_name class="form-control" %}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ form.father_name.label }}*</span>
            {% render_field form.father_name class="form-control" %}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ form.mother_name.label }}</span>
            {% render_field form.mother_name class="form-control" %}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ form.grandfather_name.label }}</span>
            {% render_field form.grandfather_name class="form-control" %}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ form.country.label }}*</span>
            {% render_field form.country class="form-control p-0" %}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ form.city.label }}</span>
            {% render_field form.city class="form-control" %}
        </div>
        <div class="d-flex justify-content-start mb-3">
            <p class="me-5">جنسیت*</p>
            {{ form.gender }}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ form.birthday.label }}*</span>
            {% render_field form.birthday class="form-control" %}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ form.nationality.label }}*</span>
            {% render_field form.nationality class="form-control p-0" %}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ form.maried.label }}*</span>
            {% render_field form.maried class="form-control" %}
        </div>
    </div>
    <div class="col col-md-6">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ form.personal_image.label }}</span>
            {% render_field form.personal_image class="form-control" %}
        </div>
        <div class="input-group mb-3">
            <span class="px-4 py-2 shadow border-start border-dark border-4">اطلاعات مدرک شناسایی</span>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ form.document_type.label }}*</span>
            {% render_field form.document_type class="form-control p-0" %}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ form.document_number.label }}*</span>
            {% render_field form.document_number class="form-control" %}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ form.issue_date.label }}*</span>
            {% render_field form.issue_date class="form-control" %}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">{{ form.expire_date.label }}*</span>
            {% render_field form.expire_date class="form-control" %}
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <button type="submit" class="btn btn-primary">ثبت اطلاعات</button>
            <button type="reset" class="btn btn-primary">خالی کردن مقادیر</button>
        </div>
        <div>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">بستن</button>
        </div>
    </div>
</form>
{% comment %} todo: add validation to selectize input {% endcomment %}
